apiVersion: apps/v1
kind: Deployment
metadata:
  name: homepage
  namespace: applications
  labels:
    app: homepage
spec:
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: homepage
  replicas: 1
  template:
    metadata:
      labels:
        app: homepage
    spec:
      containers:
        - name: homepage
          image: ghcr.io/bo0tzz/homepage:main@sha256:fe1f56d7dd587b1fcd6ebb056b30753b5c075d49f0ac401faa9103ee7e75632c
          imagePullPolicy: Always
          ports:
            - containerPort: 4000
          envFrom:
          - secretRef:
              name: homepage-secret
          resources:
            requests:
              cpu: 20m
              memory: 200M
