[tools]
flux2 = "0.41.2"
helm = "4.0.4"
jq = "1.8.1"
kubectl = "1.23.6"
"pipx:flux-local" = "4.3.1"
uv = "0.9.21"
yamlfmt = "0.20.0"

[tasks."kube:fmt"]
run = "yamlfmt ."
description = "Format kubernetes manifests"

[tasks."kube:diff"]
run = "flux-local diff hr --path ./ -A --branch-orig main"
description = "Diff kubernetes helm releases"

[tasks.fmt]
depends = ["*:fmt"]
description = "Format all files"
