[tools]
flux2 = "0.41.2"
helm = "4.1.1"
jq = "1.8.1"
kubectl = "1.35.2"
"pipx:flux-local" = "4.3.1"
uv = "0.10.6"
yamlfmt = "0.21.0"

[tasks."kube:fmt"]
run = "yamlfmt ."
description = "Format kubernetes manifests"

[tasks."kube:diff"]
run = "flux-local diff hr --path ./ -A --branch-orig main"
description = "Diff kubernetes helm releases"

[tasks.fmt]
depends = ["*:fmt"]
description = "Format all files"
