apiVersion: source.toolkit.fluxcd.io/v1beta1
kind: HelmRepository
metadata:
  name: ingress-nginx     
  namespace: ingress
spec:
  interval: 1h
  url: https://kubernetes.github.io/ingress-nginx
---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: ingress-nginx
  namespace: ingress
spec:
  interval: 1h
  chart:
    spec:
      chart: ingress-nginx
      version: '4.14.2'
      sourceRef:
        kind: HelmRepository
        name: ingress-nginx
        namespace: ingress
      interval: 1h
  values:
    controller:
      config:
        allow-snippet-annotations: true
        annotations-risk-level: Critical
      service:
        loadBalancerIP: 192.168.4.100
        annotations:
          external-dns.alpha.kubernetes.io/hostname: bo0tzz.me
      image:
        digest: null
      metrics:
        enabled: true
        serviceMonitor:
          enabled: true
---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: ingress-nginx-internal
  namespace: ingress
spec:
  interval: 1h
  chart:
    spec:
      chart: ingress-nginx
      version: '4.14.2'
      sourceRef:
        kind: HelmRepository
        name: ingress-nginx
        namespace: ingress
      interval: 1h
  values:
    controller:
      config:
        allow-snippet-annotations: true
        annotations-risk-level: Critical
      electionID: ingress-controller-internal-leader
      service:
        loadBalancerIP: 192.168.4.101
      ingressClass: nginx-internal
      image:
        digest: null
      metrics:
        enabled: true
        serviceMonitor:
          enabled: true
