apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
  namespace: monitoring
spec:
  interval: 1h
  chart:
    spec:
      chart: kube-prometheus-stack
      version: "79.0.0"
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: monitoring
      interval: 1h
  upgrade:
    crds: CreateReplace
  values:
    grafana:
      ingress:
        enabled: true
        annotations:
          kubernetes.io/ingress.class: nginx-internal
          cert-manager.io/cluster-issuer: letsencrypt-prod
        hosts:
          - grafana.bo0tzz.me
        tls:
          - hosts:
              - grafana.bo0tzz.me
            secretName: grafana-web-tls
      persistence:
        enabled: true
        storageClassName: zfs-iscsi
    prometheus:
      prometheusSpec:
        serviceMonitorSelectorNilUsesHelmValues: false
        podMonitorSelectorNilUsesHelmValues: false
        retention: 1y
        enableAdminAPI: true
        storageSpec:
          volumeClaimTemplate:
            spec:
              storageClassName: zfs-iscsi
              accessModes: ["ReadWriteOnce"]
              resources:
                requests:
                  storage: 200Gi
        additionalScrapeConfigs:
          - job_name: "apcups"
            static_configs:
              - targets:
                  - 10.0.0.5
            metrics_path: /snmp
            params:
              module: [apcups]
            relabel_configs:
              - source_labels: [__address__]
                target_label: __param_target
              - source_labels: [__param_target]
                target_label: instance
              - target_label: __address__
                replacement: snmp-exporter-prometheus-snmp-exporter:9116
          - job_name: zigbee2mqtt
            scrape_interval: 15s
            scrape_timeout: 10s
            honor_timestamps: true
            static_configs:
              - targets:
                  - "zigbee2mqtt-exporter.automation"
          - job_name: pve
            static_configs:
            - targets: ['192.168.2.1:9100']
