---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: esphome
  namespace: automation
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 1.3.1
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: automation
  values:
    image:
      repository: esphome/esphome
      tag: 2025.11.3

    # App needs to run as root because of this: https://github.com/esphome/issues/issues/2752
    securityContext:
      runAsNonRoot: false
      readOnlyRootFilesystem: false
      privileged: true
      allowPrivilegeEscalation: true

    env:
      ESPHOME_DASHBOARD_USE_PING: true

    service:
      main:
        ports:
          http:
            port: 6052

    ingress:
      main:
        enabled: true
        annotations:
          kubernetes.io/ingress.class: nginx-internal
          cert-manager.io/cluster-issuer: letsencrypt-prod
        hosts:
          - host: esphome.bo0tzz.me
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - esphome.bo0tzz.me
            secretName: esphome-web-tls

    persistence:
      config:
        enabled: true
        existingClaim: esphome-config
